.navbar-brand {
  float: left;
  height: 150px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
    margin-bottom: 0px;
}

/*.navbar-inverse {
  background-color: #1242C7;
  border-color: #5877CC;
}*/

.btn-default {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.logo {
    position: absolute;
    up: 5px;
    left: 5px;
}

.jumbotron {
    height: 500px;
    background-color: #EEE;
}

@font-face {
    font-family: 'Exo';
    src: url('file:///home/villev_h/HTML/website/res/fonts/exo/Exo-Regular.otf');
}

.form1 {
    position: absolute;
    right: 100px;
}

.all {
    font-family: 'Exo';
    margin-left: auto;
    margin-right: auto;
}

.region {
    position: absolute;
    top: 7px;
    right: 450px;
}