.navbar-brand {
  float: left;
  height: 150px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.logo {
    position: absolute;
    up: 5px;
    left: 5px;
}

.jumbotron {
    height: 798px;
    margin-bottom: 0px;
    background-color: #EEE;
    color: #EEE;
}

.footer {
    height: 200px;
    background-color: #222;
    border-color: #FFFFFF;
}
 <?php
                        $region = 'euw';
                        $player = $_POST['player'];
                        $summId = 28954491;
                        $api_key = '?api_key=c54b731a-fac6-4355-b11b-2c5ee40bea41';

                        $v1_2 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v1.2/';
                        $v1_3 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v1.3/';
                        $v1_4 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v1.4/';
                        $v2_2 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v2.2/';
                        $v2_4 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v2.4/';
                        $v2_5 = 'https://' . $region . '.api.pvp.net/api/lol/' . $region . '/v2.5/';

                        function askApi($url)
                        {
                                $ch = curl_init($url);
                                curl_setopt($ch, CurlOPT_RETURNTRANSFER, 1);
                                $infos = curl_exec($ch);
                                curl_close($ch);
                                return $infos;
                        }

                        function getSummonerId($v1_4, $player, $api_key)
                        {
                                $url = $v1_4 . 'summoner/by-name/' . $player . $api_key;
                                echo $url;
                                $data = askApi($url);
                                echo $data;
                        }

                        function getMatchHistory($v2_2, $summId, $api_key)
                        {
                                $url = $v2_2 . 'matchhistory/' . $summId . $api_key;
                                echo $url;
                                $data = askApi($url);
                                echo $data;
                        }
                        getSummonerId($v1_4, $player, $api_key);
                ?>

@font-face {
    font-family: 'Exo';
    src: url('file:///home/villev_h/HTML/website/res/fonts/exo/Exo-Regular.otf');
}

.form1 {
    position: absolute;
    right: 100px;
}

.all {
    font-family: 'Exo';
    margin-left: auto;
    margin-right: auto;
}

.region {
    position: absolute;
    top: 7px;
    right: 450px;
}



