.navbar-brand {
  float: left;
  height: 150px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.logo {
    position: absolute;
    up: 5px;
    left: 5px;
}

.jumbotron {
    height: 798px;
    margin-bottom: 0px;
    background-color: #EEE;
    background: url('../res/jumbo/jumbo.jpg');
    color: #EEE;
}

.footer {
    height: 150px;
    background-color: #222;
    border-color: #FFFFFF;
}

@font-face {
    font-family: 'Exo';
    src: url('../res/fonts/exo/Exo-Black.otf');
}

.form1 {
    position: absolute;
    right: 100px;
}

.all {
    font-family: 'Exo';
    margin-left: auto;
    margin-right: auto;
}

.region {
    position: absolute;
    top: 7px;
    right: 450px;
}

#results {
    padding-left: 45%;
}