.navbar-brand {
  float: left;
  height: 150px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #230CF3;
    border-color: #0C4DF3;
}

.logo {
    position: absolute;
    up: 5px;
    left: 5px;
}

.jumbotron {
    height: 798px;
    margin-bottom: 0px;
    background-color: #EEE;
    color: #EEE;
}

.footer {
    height: 200px;
    background-color: #222;
    border-color: #FFFFFF;
}

@font-face {
    font-family: 'Exo';
    src: url('file:///home/villev_h/HTML/website/res/fonts/exo/Exo-Regular.otf');
}

.form1 {
    position: absolute;
    right: 100px;
}

.all {
    font-family: 'Exo';
    margin-left: auto;
    margin-right: auto;
}

.region {
    position: absolute;
    top: 7px;
    right: 450px;
}

.results {
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    height: 450px;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.white {
    color: #EEE;
    font-size: 30px;
}

.tab-content {
    color: #EEE;
    margin-top: 35px;
}

.panel-primary > .panel-heading {
  color: #EEE;
  background-color: #230CF3;
  border-color: #230CF3;
}

.panel-body {
    background-color: #222;
}
